/build/
/build_debug/
/build_release/
CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile
*.cmake
!CMakeLists.txt
*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.a
*.lib
*.dll
*.dylib
music_player
music_player_debug
music_player_test
.vscode/
.idea/
cmake-build-*/
*~
*.swp
*.swo
\#*#
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
test_detail.xml
*.gcov
*.gcda
*.gcno
*.log
/docs/doxygen_output/
.bkp
*drawio.xml
media/
media_2/
*.mp4
*.wav
*.mp3
*.flac
*.m4a